body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.clear{
    clear: both;/
}

.error{
    color: red;
    background-color: rgba(255, 0, 0, 0.24);
    border: 1px dashed red;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

.btn-success:active, .btn-success.active {
    background-color: #57a900;
}

.container.min{
    min-height: 500px;
}

.hovergallery{
    margin: auto;
    width: 70%;
}

.hovergallery a{
    display: block;
    float: left;
    width: auto;
}
.nav.navbar-nav{
    margin-left: 150px;
}

.hovergallery img{
    -webkit-transform:scale(0.8); /*Webkit: уменьшаем размер до 0.8*/
    -moz-transform:scale(0.8); /*Mozilla: масштабирование*/
    -o-transform:scale(0.8); /*Opera: масштабирование*/
    -webkit-transition-duration: 0.5s; /*Webkit: длительность анимации*/
    -moz-transition-duration: 0.5s; /*Mozilla: длительность анимации*/
    -o-transition-duration: 0.5s; /*Opera: длительность анимации*/
    opacity: 0.7; /*Начальная прозрачность изображений*/
    margin: 0 10px 5px 0; /*Интервалы между изображениями*/
}

.hovergallery img:hover{
    -webkit-transform:scale(0.9); /*Webkit: увеличиваем размер до 1.2x*/
    -moz-transform:scale(0.9); /*Mozilla: масштабирование*/
    -o-transform:scale(0.9); /*Opera: масштабирование*/
    box-shadow:0px 0px 30px gray; /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
    -webkit-box-shadow:0px 0px 30px gray; /*Webkit: тени*/
    -moz-box-shadow:0px 0px 30px gray; /*Mozilla: тени*/
    opacity: 1;
}
.about_us, .contacts{
    margin: 0 auto;
    width: 70%;
}

.contacts .text_contact{
    float: left;
    width: 60%;
}

.contacts .yandex_map{
    float: left;
    width: 40%;
    padding: 10px;
}
.contacts .yandex_map > h1{
    text-align: center;
    font-size:1.5em;
}
/*+Module news*/
.news .new{
    /*border: 1px #000000 dashed;*/
    margin-left: 180px;
    width: 65%;
    margin-bottom: 40px;
}

.news .new > header > h1{
    font-weight: bold;
    font-size: 1.2em;
}

.news .new  > section > header > h1{
    padding: 10px;
    border-top: 1px rgba(85, 85, 85, 0.57) solid;
    border-bottom: 1px rgba(85, 85, 85, 0.57) solid;
}


.news .new > section > header > h1{
    font-size: 1.1em;
    font-style: italic;
}

.news .add_news a{
    display: block;
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
    width: 80%;
}

.add_new{
    margin-left: 150px;
    width: 65%;
}

.add_new{
    margin-left: 120px;
    width: 65%;
}
.add_new li{
    float: left;
    margin-left: 10px;
    list-style: none;
}
.add_new dl{
    width: 85%;
    margin: auto;
}
.add_new dt{
    margin-top: 20px;
}
.add_new dd{
    margin: 0 0 10px 20px;
}

.add_new dd input, textarea{
    padding: 5px;
    width: 100%;
}

.add_new dd textarea{
    resize: vertical;
    height: 150px;
}

.add_new dt span{
    display: inline-block;
    margin-left: 10px;
    color: rgba(255, 0, 0, 0.45);
}
/*-Module news*/

/*+paginator*/
.pagination_news{
    margin-left: 120px;
    width: 65%;
}

.pagination_news li{
    list-style: none;
    float: left;
    margin-left: 10px;
}
.pagination_news li.active a{
   color: #000000;
    font-weight: bold;
}

/*-paginator*/
footer.modal-footer.down > p{
    font-size: .9em;
    margin-right: 30px;
}
